<div id="page-bottom">
  <div id="page-bottom-sidebar">
    <h3>Elementum quam</h3>
    <ul class="list">
      <li class="first"><a href="#">Scelerisque diam</a></li>
      <li><a href="#">Varius tellus facilisis</a></li>
      <li class="last"><a href="#">Cursus non laoreet</a></li>
    </ul>
  </div>
  <div id="page-bottom-content">
    <h3>Mantralabs</h3>
    <p>
        We bring your vision to life, creating brilliant software & engaging user experiances, by fielding and integrated cross functional team of talented designers, engineers and product managers who move fast and make things happen.<br />
        How do you know if your idea is a great one? By iterating through prototypes and market experiments, we help you test new ideas before making big investment decisions. Together we will zoom in on the best market opportunity.
      </p>
  </div>
  <br class="clearfix" />
</div>