<employee-header></employee-header>
<!-- Page Content -->
<div class="container">
    
      <div class="col-md-9">
        <h1 class="page-header">
            Mantra
            <small>OverFlow</small>
        </h1>
        <div class="btn-group" role="group" aria-label="...">
          <button type="button" class="btn btn-default" ng-click="showAllQuestions()">All Questions</button>
          <button type="button" class="btn btn-default" ng-click="showUnAnswered()">Unanswered</button>
          <button type="button" class="btn btn-default" ng-click="toggleAddQues()">Ask Questions</button>
        </div>
        <add-employee visible="showAddQues">
        <form class="addForm">
          <h1>Add Question</h1><small>Make sure the question you're asking has not been asked yet</small>
          <br>
          
          <fieldset>
            <label for="bio">Question:</label>
            <textarea id="bio" name="user_bio" rows="8" cols="64" ng-model="lang.question"></textarea>
            <label for="job">Tags:</label><p>To choose multiple languages press ctrl/command and select</p>
           <select id="job" class="addInput" multiple="true" ng-options="sourc as sourc.name for sourc in languages" ng-model="lang.sourc">
           </select>
           <ul>
             <li ng-repeat="sou in lang.sourc">{{sou.name}}</li>
           </ul>
          </fieldset>
          <button type="button" ng-click="addQues(lang); toggleAddQues()" class="addButton">Create Blog</button>
        </form>
      </add-employee>
        <hr>
        <div class="panel panel-default">
          <!-- Default panel contents -->
          <div class="panel-heading"></div>

          <!-- Table -->
          <table class="table table-striped table-hover">
            <tbody>
              <tr ng-repeat="que in questions | startFrommm:(currentPageee - 1)* pageSizeee:isEnableee | limitTo: pageSizeee | filter : unAnsweredCount | filter : blogSearch">
                <td>
                <div>
                    <h3 id="LeftMargin"><a href="#/ask/{{que.que_id}}" ng-click="queId(que)">{{que.question}}</a></h3>
                    <p id="FloatLeft" ng-repeat="tag in que.tag">{{tag}}</p>
                    <p id="FloatRight"><span class="glyphicon glyphicon-time"></span>{{que.ques_created}}</p>
                    <p id="FloatRight"><a href="#/employees/{{que.id}}" ng-click="emplId(que.id)">By: {{que.name}}</a></p>
                    <hr>
                    <button class="btn btn-default bottomMarggg" type="button">
                      Answers <span class="badge" ng-model="AnsCount">{{que.count}}</span>
                    </button>
                </div>
                <hr class="HeaderHr">
                </td>
              </tr>
              
            </tbody>
          </table>
          <!-- /.Table -->
          </div>
        
        <!-- Pagination -->
          <div class="containerrr">
            <div class="pagination">
              <pagination total-items="questions.length" ng-model="currentPageee" items-per-page="pageSizeee"></pagination>
            </div>
          </div>
    </div>
    <div class="col-md-3">

        <!-- Blog Search Well -->
        <div class="well">
            <h4>Search Quest</h4>
            <div class="input-group">
                <input type="text" class="form-control" ng-model="blogSearch">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button" ng-click="search()">
                        <span class="glyphicon glyphicon-search"></span>
                </button>
                </span>
            </div>
              
            <!-- /.input-group -->
        </div>

        <!-- Side Widget Well -->
        <div class="well">
            <h4>Side Widget Well</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore, perspiciatis adipisci accusamus laudantium odit aliquam repellat tempore quos aspernatur vero.</p>
        </div>

    </div>
    <hr>
    <!-- /.row -->
    <employee-footer></employee-footer>

</div>
<!-- /.container -->