<employee-header></employee-header>
<!-- Page Content -->
    <div class="container">

        <div class="row">

            <!-- Blog Post Content Column -->
            <div class="col-lg-8">

                <!-- Blog Post -->

                <!-- Title -->
                <h1>{{blog.blog_name}}</h1>

                <!-- Author -->
                <p class="lead">
                    by <a href="#/employee/{{blog.id}}" ng-click="emplId(blog.id)">{{blog.name}}</a>
                </p>

                <hr>

                <!-- Date/Time -->
                <p><span class="glyphicon glyphicon-time"></span> {{blog.blog_created}}</p>

                <hr>

                <!-- Preview Image -->
                <img class="img-responsive" src="http://placehold.it/900x300" alt="">

                <hr>

                <!-- Post Content -->
                <p>{{blog.description}}</p>
                <br>
                <button ng-click="toggleEditBlog()" class="btn btn-primary">Edit Blog</button>
                  <add-employee visible="showEditBlog">
                    <form class="addForm">
                      <h1>Create Blog</h1>
                      
                      <fieldset>
                        <label for="name">Blog Name:</label>
                        <input type="text" id="name" name="user_name" class="addInput" ng-model="blog2.blog_name">
                        <label for="bio">Blog:</label>
                        <textarea id="bio" name="user_bio" rows="8" cols="64" ng-model="blog2.description"></textarea>
                      </fieldset>
                      <button type="button" ng-click="editBlog(blog2); toggleEditBlog()" class="addButton">Edit Blog</button>
                    </form>
                  </add-employee>
                
                <hr>

                <!-- Blog Comments -->

                <!-- Comments Form -->
                <div class="well">
                    <h4>Leave a Comment:</h4>
                    <form role="form">
                        <div class="form-group">
                            <textarea class="form-control" rows="3" ng-model="comment"></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary" ng-click="submitComment(comment)">Submit</button>
                    </form>
                </div>

                <hr>

                <!-- Posted Comments -->

                <!-- Comment -->
                <div class="media" ng-repeat="comment in comments">
                    <a class="pull-left" href="#">
                        <img class="media-object" src="http://placehold.it/64x64" alt="">
                    </a>
                    <div class="media-body">
                        <h4 class="media-heading"><a href="#/employee/{{comment.user_id}}" ng-click="emplId(comment.user_id)">{{comment.user_name}}</a>
                            <small>{{comment.created}}</small>
                        </h4>
                        {{comment.comment}}
                    </div>
                </div>

                

            </div>

            <!-- Blog Sidebar Widgets Column -->
            <div class="col-md-4">

                <!-- Blog Search Well -->
                <div class="well">
                    <h4>Blog Search</h4>
                    <div class="input-group">
                        <input type="text" class="form-control">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button">
                                <span class="glyphicon glyphicon-search"></span>
                        </button>
                        </span>
                    </div>
                    <!-- /.input-group -->
                </div>

                <!-- Side Widget Well -->
                <div class="well">
                    <h4>Side Widget Well</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore, perspiciatis adipisci accusamus laudantium odit aliquam repellat tempore quos aspernatur vero.</p>
                </div>

            </div>

        </div>
        <!-- /.row -->

        <hr>
        <employee-footer></employee-footer>
    </div>
    <!-- /.container -->