<employee-header></employee-header>
<div class="container">

        <div class="row">

            <!-- Blog Entries Column -->
            <div class="col-md-8">

                <h1 class="page-header">
                    The Mantra Blog
                    <small>Secondary Text</small>
                </h1>

                <!-- First Blog Post -->
                <div ng-repeat="blog in blogs | filter : blogSearch | startFrom:(currentPage - 1)* pageSize:isEnable | limitTo: pageSize">
                <h2>
                    <a href="#/blogs/{{blog.blog_id}}" ng-click="blogId(blog)">{{blog.blog_name}}</a>
                </h2>
                <p class="lead">
                    by <a href="#/employees/{{blog.id}}" ng-click="emplId(blog.id)">{{blog.name}}</a>
                </p>
                <p><span class="glyphicon glyphicon-time"></span>{{blog.blog_created}}</p>
                <hr>
                <img class="img-responsive imgDimension" src="{{blog.path}}" alt="">
                <hr>
                <p>{{blog.description | limitTo : charactersLimit}}</p>
                <a class="btn btn-primary" href="#/blogs/{{blog.blog_id}}" ng-click="blogId(blog)">Read More <span class="glyphicon glyphicon-chevron-right"></span></a>
                <hr class="HeaderHr">
                <br>
                </div>
                <hr>

                <button ng-click="toggleAddBlog()" class="btn btn-primary">Add Blog</button>
                  <add-employee visible="showAddBlog">
                    <form class="addForm">
                      <h1>Create Blog</h1>
                      
                      <fieldset>
                        <label for="name">Blog Name:</label>
                        <input type="text" id="name" name="user_name" class="addInput" ng-model="blog2.blog_name">
                        <label for="bio">Blog:</label>
                        <textarea id="bio" name="user_bio" rows="8" cols="64" ng-model="blog2.description"></textarea>
                      </fieldset>
                      <button type="button" ng-click="addBlog(blog2); toggleAddBlog()" class="addButton">Create Blog</button>
                    </form>
                  </add-employee>

                <!-- Pagination -->
                <div class="containerrr">
                  <div class="pagination">
                  <pagination total-items="blogs.length" ng-model="currentPage" items-per-page="pageSize"></pagination>
                  </div>
                </div>

            </div>

            <!-- Blog Sidebar Widgets Column -->
            <div class="col-md-4">

                <!-- Blog Search Well -->
                <div class="well">
                    <h4>Blog Search</h4>
                    <div class="input-group">
                        <input type="text" class="form-control" ng-model="blogSearch">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button" ng-click="search()">
                                <span class="glyphicon glyphicon-search"></span>
                        </button>
                        </span>
                    </div>
                    <!-- /.input-group -->
                </div>

                <!-- Side Widget Well -->
                <div class="well">
                    <h4>Side Widget Well</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore, perspiciatis adipisci accusamus laudantium odit aliquam repellat tempore quos aspernatur vero.</p>
                </div>

            </div>
        </div>
        <hr>
        <employee-footer></employee-footer>
    </div>
    <!-- /.container -->