<employee-header></employee-header>

<!-- Page Content -->
    <div class="container">

      
      <div id="content">
            
      <h1>Old Password</h1>
      <div class="row">
      <div class="col-sm-6 col-sm-offset-3">
      <p class="text-center">Use the form below to change your password.</p>
      <form>
      <input type="password" class="input-lg form-control" placeholder="old Password" ng-model="user.password">
      <br>
      <input type="submit" class="col-xs-12 btn btn-primary btn-load btn-lg" data-loading-text="Changing Password..." value="Change Password" ng-click="oldPassword(user)">
      <p class="text-center" ng-show="errorMsg">The password entered is incorrect.</p>
      </form>
      </div><!--/col-sm-6-->
      </div><!--/row-->





      </div>


      <employee-footer></employee-footer>
    </div>
<!-- /.container -->

