<employee-header></employee-header>

<!-- Page Content -->
    <div class="container">

      
      <div id="content">
            <div class="box">
              <div class="row">
                    <div class="col-sm-6 col-md-4">
                        <img ng-src="{{path}}" alt="" class="img-rounded img-responsive" id="ImgSize"/>
                    </div>
                    <div class="col-sm-6 col-md-8">
                        <h2>Hi. My name is {{userInfo.name}} <br>and I'm a {{userInfo.designation}}</h2>
                        <h4>Number: {{userInfo.mobile}}</h4>
                        <h4>Emergency Number: {{userInfo.emergency_contact_no}}</h4>
                        <h4>Email: {{userInfo.email}}</h4>
                        <h4>Date of Birth: {{userInfo.dof_certificate}}</h4>
                        <h4>Blood Group: {{userInfo.blood_group}}</h4>
                        <!-- Split button -->
                    </div>
                </div>
            </div>
            <div class="box AddressParentss">
              <div class="AddressParent">
              <h2>Address</h2>
              <div class="addressDiv">
                <span><b>Permanent Address</b></span><br />
                <p class="LimitPara">{{userInfo.permanent_address}}</p>
              </div>
              <div class="addressDiv">
                <span><b>Present Address</b></span><br />
                <p class="LimitPara">
                  {{userInfo.present_address}}
                  {{userInfo.city}}
                  {{userInfo.zipCode}}</p>
              </div>
            
              </div>
            </div>
            <hr class="HeaderHr">
            <br>
            <div class="box">
              <div class="textCenter"><h1>My Servicess</h1></div>
              <div class="panel panel-default">
                <!-- Default panel contents -->
                <div class="panel-heading">Programming Languages Specialized In</div>

                <!-- Table -->
                <table class="table table-striped table-hover">
                  <thead>
                    <tr>
                      <th>Name</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr ng-repeat="lang in languages | startFrom:(currentPage - 1)* pageSize:isEnable | limitTo: pageSize">
                      <td>{{lang.lang_name}}</td>
                    </tr>
                  </tbody>
                </table>
                <!-- /.Table -->
              </div>
              <br>
              
            </div>
            
            <br><br>
            <div class="box">
              <div class="panel panel-default">
                <!-- Default panel contents -->
                <div class="panel-heading">Projects Involved In</div>

                <!-- Table -->
                <table class="table table-striped table-hover">
                  <thead>
                    <tr>
                      <th>Name</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr ng-repeat="project in projects | startFrommm:(currentPageee - 1)* pageSizeee:isEnableee | limitTo: pageSizeee">
                      <td>{{project.project_name}}</td>
                    </tr>
                  </tbody>
                </table>
                <!-- /.Table -->
              </div>
              <br>

              
            </div>
           

          </div>


      <employee-footer></employee-footer>
    </div>
<!-- /.container -->

