<employee-header></employee-header>
<!-- Image Background Page Header -->
    <!-- Note: The background image is set within the business-casual.css file. -->
    <header>
        <div class="header-content">
            <div class="header-content-inner">
                <h1>ConnectMantra <br> The One place that connects All</h1>
                <br><br><br>
                <hr class="HeaderHr">
                <p class="headerPara">Connect Mantra helps you to connect with the employees of Mantralabs. You can post your querries and also answer querries posted by others. You can post suggestions and complaint.</p>
                <a ng-click="gotoBottom()" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
            </div>
        </div>
    </header>
<!-- Page Content -->
    <div class="container" id="bottom">

        <hr>

        <div class="row">
            <div class="col-sm-8">
                <h2>What We Do</h2>
                <p>Introduce the visitor to the business using clear, informative text. Use well-targeted keywords within your sentences to make sure search engines can find the business.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et molestiae similique eligendi reiciendis sunt distinctio odit? Quia, neque, ipsa, adipisci quisquam ullam deserunt accusantium illo iste exercitationem nemo voluptates asperiores.Congue quam posuere elit adipiscing varius tellus. Consequat porttitor dolor sed viverra cum congue. Varius primis auctor est nisl at mi quam. <br>
                    Ante libero arcu ridiculus blandit placerat. Sociis in consequat suscipit felis vivamus odio phasellus. Elementum pellentesque vestibulum gravida morbi turpis ante nullam. Pellentesque placerat porta ipsum.</p>
                <p>
                    <a class="btn btn-default btn-lg" ng-click="userId()">Your Profile &raquo;</a>
                </p>
            </div>
            <div class="col-sm-4">
                <h2>Search Employees</h2>
                <form>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Search by Name" ng-model="employeeDir.name">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="HTML/CSS" ng-model="employeeDir.languagesKnown">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Projects" ng-model="employeeDir.projectsInvolved">
                    </div>
                    <div class="radio">
                        &nbsp; &nbsp; &nbsp; &nbsp;<input type="radio"  ng-model="employeeDir.gender" name="a" value="Male">Male &nbsp; &nbsp; &nbsp;
                        <input type="radio"  ng-model="employeeDir.gender" name="a" value="Female">Female
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Blood Group" ng-model="employeeDir.bloodGroup">
                    </div>
                    <button type="button" ng-click="search()" class="btn btn-primary">Search</button>
                </form>
            </div>
        </div>
        <!-- /.row -->

        <hr>

        <!-- Call to Action Well -->
        <div class="row">
            <div class="col-lg-12">
                <div class="well text-center">
                    This is a well that is a great spot for a business tagline or phone number for easy access!
                </div>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
        <div class="panel panel-default">
          <!-- Default panel contents -->
          <div class="panel-heading">Panel heading</div>

        <!-- An alternative table is in homee.html -->

          <div class="row" id="userList">
            <table class="table-responsive">
            <thead>
              <tr bgcolor="#eee">
                <th class="col-xs-1"></th> 
                <th class="col-xs-2">Name</th> 
                <th class="col-xs-2">Mobile No</th>
                <th class="col-xs-2">Designation</th>
                <th class="col-xs-1"></th>
              </tr>
            </thead>
            <tbody>
              <tr bgcolor="#eee" ng-repeat-start="user in users | startFrom:(currentPage - 1)* pageSize:isEnable | limitTo: pageSize | filter : employeeDir.name | filter : employeeDir.gender : true | filter : employeeDir.bloodGroup | filter : employeeDir.languagesKnown | filter : employeeDir.projectsInvolved" ng-click="showDetail(user)" ng-class-odd="'alt'">
                <td class="col-xs-1"><img ng-src="{{user.path}}" class="img-thumbnail img-responsive img-circle"></td> 
                <td class="col-xs-2 cap">{{user.name}}</td> 
                <td class="col-xs-2 cap">{{user.mobile}}</td>
                <td class="col-xs-2 strong">{{user.designation}}</td>
                <td class="col-xs-1"><a href=""><i class="fa fa-plus fa-3x"></i></a></td>
              </tr>
              <tr bgcolor="#eee" ng-repeat-end="" ng-show="active==user.mobile" ng-class-odd="'alt'">
                <td></td> 
                <td colspan="6">
                  <div class="row">
                    <div class="col-xs-12"><h2 class="cap">{{user.name}} <i ng-show="user.gender=='Female'" class="fa fa-female"></i><i ng-show="user.gender=='Male'" class="fa fa-male"></i></h2></div>
                    <div class="col-md-4 col-xs-12 text-center">
                      <img src="{{user.path}}" class="img-thumbnailll img-responsive img-circle center-block">
                    </div>
                    <div class="col-md-3 col-xs-6 small">
                      <label>Address</label> {{user.address}}<br>
                      <label>City</label> {{user.city}}<br>
                      <label>Zip Code</label> {{user.zipCode}}<br>
                    </div>
                    <div class="col-md-3 col-xs-6 small">
                      <label>Birthday</label> {{user.dob}}<br>
                      <label>Phone</label> {{user.mobile}}<br>
                      <label>Emergency No</label> {{user.emergency_contact_no}}<br>
                      <label>Email</label> {{user.email}}<br>
                    </div>
                    <div>
                        <i class="fa fa-trash IconHover" ng-click="DeleteEmpl(user.id, $index)"></i>
                        <br><br><br><br><br><br>
                        <button type="button" ng-click="userId(user)" class="btn btn-primary">Full Profile</button>
                    </div>
                    <div class="col-xs-12"><hr class="EmpHr"></div>
                  </div>
                </td>
              </tr>
            </tbody>
            </table>
          
          </div><!--/row-->


        </div>
        <!-- /.row -->
        <br>
        <button ng-click="toggleAddEmpl()" class="btn btn-primary" ng-show="isAdmin">Add</button>
              <add-employee visible="showAddEmp">
                <form class="addForm">
                  <fieldset>
                    <legend><span class="number">1</span>Your basic info</legend>
                    <label>Employee Id:</label>
                    <input type="text" class="addInput" ng-model="user.employeeId">

                    <label>Name:</label>
                    <input type="text" class="addInput" ng-model="user.name">
                    
                    <label>Number:</label>
                    <input type="text" class="addInput" ng-model="user.number">
                    
                    <label>Emergency Number:</label>
                    <input type="text" class="addInput" ng-model="user.emergencyNumber">
                    
                    <label>Birthday as of Certificate:</label>
                    <input type="text" class="addInput" ng-model="user.birthday">

                    <label>Original Birthday:</label>
                    <input type="text" class="addInput" ng-model="user.birthdayOrig">
                    
                    <label>Gender:</label>
                    <input type="radio" class="addInput" ng-model="user.gender" value="Male">Male
                    <input type="radio" class="addInput" ng-model="user.gender" value="Female">Female

                    <label>Blood Group:</label>
                    <input type="text" class="addInput" ng-model="user.bloodGroup">

                    

                    <label>Email:</label>
                    <input type="text" class="addInput" ng-model="user.email">

                    <label>Present Address: Street</label>
                    <input type="text" class="addInput" ng-model="user.presentAddress">

                    <label>City:</label>
                    <input type="text" class="addInput" ng-model="user.city">

                    <label>Zip Code:</label>
                    <input type="text" class="addInput" ng-model="user.zipCode">

                    <label>Permanent Address:</label>
                    <input type="text" class="addInput" ng-model="user.permanentAddress">
                    
                    <label>Correspondence Address:</label>
                    <input type="text" class="addInput" ng-model="user.correspondenceAddress">

                    <label>PAN NO:</label>
                    <input type="text" class="addInput" ng-model="user.pan_no">
                    
                    <label>Father's/husband's Name:</label>
                    <input type="text" class="addInput" ng-model="user.F_H_name">
                  </fieldset>
                  <h3 ng-show="showSuccessAddEmplMsg">Added Successfully</h3>
                  <button type="button" ng-click="addEmployee(user); toggleAddEmpl()" class="addButton">Add</button>
                </form>
              </add-employee>
        <hr>

        <!-- Pagination -->
        <div class="containerrr">
        <div class="pagination">
        <pagination total-items="users.length" ng-model="currentPage" items-per-page="pageSize"></pagination>
        </div>
        </div>
        <!-- /.row -->
        <employee-footer></employee-footer>

    </div>
    <!-- /.container -->