<employee-header></employee-header>
<!-- Page Content -->
    <div class="container">

        <div class="row">

            <!-- Blog Post Content Column -->
            <div class="col-lg-9">

                <!-- Blog Post -->

                <!-- Title -->
                <h1>{{sug.sug_name}}</h1>

                <!-- Author -->
                <p class="lead">
                    by <a href="#/employees/{{sug.id}}" ng-click="emplId(sug.id)">{{sug.name}}</a>
                </p>

                <hr>

                <!-- Date/Time -->
                <p><span class="glyphicon glyphicon-time"></span> {{sug.sug_created}}</p>

                <hr>

                <!-- Post Content -->
                <p>{{sug.description}}</p>
                <br>
                <button ng-click="toggleEditSug()" class="btn btn-primary" ng-show="personalProfile">Edit Suggestion</button>
                  <add-employee visible="showEditSug">
                    <form class="addForm">
                      <h1>Edit Suggestion</h1>
                      
                      <fieldset>
                        <label for="name">Name:</label>
                        <input type="text" id="name" name="user_name" class="addInput" ng-model="sug2.sug_name">
                        <label for="bio">Suggestion:</label>
                        <textarea id="bio" name="user_bio" rows="8" cols="64" ng-model="sug2.description"></textarea>
                      </fieldset>
                      <button type="button" ng-click="editSug(sug2); toggleEditSug()" class="addButton">Edit Suggestion</button>
                    </form>
                  </add-employee>
                <hr>
                <!-- Blog Like -->
                <!-- <p id="FloatLeft" ><span class="glyphicon glyphicon-thumbs-up"></span></p> -->
               <!-- <hr> -->
                <!-- <br> -->
                <!-- Blog Comments -->
                <!-- Comments Form -->
                <div class="well">
                    <h4>Leave a Comment:</h4>
                    <input id="FloatRight" type="checkbox" ng-model="comment.anonymous" ng-true-value="'anonymous'" ng-false-value="'False'">
                    <label id="FloatRight" for="name" id="FloatLeft">Make Anonymous:</label>
                    <form role="form">
                        <div class="form-group">
                            <textarea class="form-control" rows="3" ng-model="comment.comment"></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary" ng-click="submitComment(comment)">Submit</button>
                    </form>
                </div>

                <hr>

                <!-- Posted Comments -->

                <!-- Comment -->
                <div class="media" ng-repeat="comment in comments">
                    <a class="pull-left" href="#">
                        <img class="commentDimension img-responsive" src="{{comment.path}}" alt="">
                    </a>
                    <div class="media-body">
                        <h4 class="media-heading"><a href="#/employees/{{comment.id}}" ng-click="emplId(comment.id)">{{comment.user_name}}</a>
                            <small>{{comment.sug_created}}</small>
                        </h4>
                        {{comment.comment}}
                    </div>
                </div>


            </div>

            <!-- Blog Sidebar Widgets Column -->
            <div class="col-md-3">

                <!-- Blog Search Well -->
                <div class="well">
                    <h4>Search</h4>
                    <div class="input-group">
                        <input type="text" class="form-control">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button">
                                <span class="glyphicon glyphicon-search"></span>
                        </button>
                        </span>
                    </div>
                    <!-- /.input-group -->
                </div>

                <!-- Side Widget Well -->
                <div class="well">
                    <h4>Side Widget Well</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore, perspiciatis adipisci accusamus laudantium odit aliquam repellat tempore quos aspernatur vero.</p>
                </div>

            </div>

        </div>
        <!-- /.row -->

        <hr>
        <employee-footer></employee-footer>
    </div>
    <!-- /.container -->